<header>
    <div class="container">
        <div class="content-wrap">
            <div fxFlexFill class="navbar" [fxLayout]="column" fxLayoutWrap="wrap">
                <div fxFlex="70"class="logo">
                    <img ngStyle.gt-sm="max-width:198px;" src="../assets/wandersuite-logo.png" alt="Wandersuite Logo"/>
                </div>
                <div fxFlex="30" fxHide.lt-lg>
                    <button class="btn red">Register</button>
                    <button class="btn">Login</button>
                </div>
            </div>
        </div>
    </div>
</header>