html, body{
    height: 100%;
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 18px;
    color: rgba(0,0,0,0.54);
    line-height: 30px;
}

h1{
    font-weight: 500;
    font-size: 24px;
    color: #A51D32;
    line-height: 30px;
}

@media (max-width: 640px){
  p{
    font-size: 15px;
    line-height: 27px;
  }
  h1{
    font-size: 21px;
    line-height: 27px;
  }
}

.container{
    /*background-color:yellow;*/
    max-width: 1440px;
	margin: 0 auto;
}


@media (max-width: 599px) {
  .content-wrap {
    padding: 0 10px;
  }
}

@media (min-width: 600px) {
  .content-wrap {
    padding: 0 20px;
  }
}

@media (min-width: 830px) {
  .content-wrap {
    padding: 0 36px;
  }
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #A51D32;
    letter-spacing: 0.5px;
    background: transparent;
    border: 1px solid #A51D32;
    border-radius: 2px;
    padding: 7px 45px;
    overflow: hidden;
    cursor: pointer;
    font-weight: 300;
}

.btn.red{
    background: #A51D32;
    color: #FFFFFF;
}


.main-content .container{
    /*background: url("/assets/background-img.jpg") no-repeat center center;*/
    /*supposedly 45%, not 15%*/
    background:-webkit-linear-gradient(-180deg, rgba(255,255,255,0.00) 45%, #FFFFFF 77%), url("/assets/background-img.jpg") no-repeat center center;
    background:-moz-linear-gradient(-180deg, rgba(255,255,255,0.00) 45%, #FFFFFF 77%), url("/assets/background-img.jpg") no-repeat center center;
    background:linear-gradient(-180deg, rgba(255,255,255,0.00) 45%, #FFFFFF 77%), url("/assets/background-img.jpg") no-repeat center center;
    /*background: url("/assets/background-img.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 60px;
}

/*Overlay image background with white layer*/
.main-content .container:after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}
