<header-section></header-section>
<section class="main-content">
    <div class="container">
        <div class="content-wrap">
            <div fxFlexFill [fxLayout]="column" fxLayoutWrap="wrap" ngClass="main-content-wrap">
                <div fxFlex.xs="100" fxFlex.gt-xs="34">
                    <img src="../assets/wandersuite-mobile.png" alt="Wandersuite Mobile App">
                </div>
                <div fxFlex.xs="100" fxFlex.gt-xs="66">  
                    <div class="home-content-wrap">      
                        <h1>Consectetur adipisicing elit, sed do eiusmod tempor incididunt</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua. Up exlaborum incididunt.</p>
                        <button class="btn red">Get Started</button>
                    </div>
                </div>
                <!--<div class="partner-list" fxFlex="100">
                    <ul>
                        <li>
                            <img src="../assets/hotel-logo1.png">
                        
                        </li>
                        <li>
                            <img src="../assets/hotel-logo2.png">
                        </li>
                        <li>
                            <img src="../assets/hotel-logo3.png">
                        </li>
                        <li>
                            <img src="../assets/hotel-logo4.png">
                        </li>
                        <li>
                            <img src="../assets/hotel-logo5.png">
                        </li>
                        <li>
                            <img src="../assets/hotel-logo6.png">
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</section>
<footer-section></footer-section>
